# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# uniquement lib à la racine (pas src/lib)
/lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual env
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.local
*.local

# Next.js
.next/
out/

# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
.pnpm-store

# Build / test
*.tsbuildinfo
coverage/
.ingest-cache/
